/* Estilos personalizados */
body {
    font-family: 'Inter', sans-serif;
}

h1, h2, p {
    color: #333;
}

input[type="text"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}